div.call-to-action-text{
    grid-column: 3/span 4;
}

div.background-call-to-action{
    position: absolute;
    background-color: #495E57;
    left: 0;
    right: 0;
    min-width: 1440px;
    height: 400px;
    z-index: -1;
}

div.call-to-action-image{
    grid-column: 7/span 4;
    text-align: right;
}

div.call-to-action-image img{
    width: 300px;
    height: auto;
    border-radius: 16px;
    margin-top: 20px;
}