div.chicago-text{
    grid-column: 3/span 4;
    padding-bottom: 100px;
}

div.chicago-images{
    grid-column: 7/span 4;
    position: relative;
}

div.chicago-images img{
    width: 300px;
    height: auto;
    border-radius: 16px;
    margin-top: 20px;
}

#Mario-and-Adrian-A{
    position: absolute;
    top: 100px;
    left: 120px;
}

#restaurant-chef-b{
    position: absolute;
    top: 250px;
    left: 20px;
}

div.background-chicago{
    position: absolute;
    background-color: #495E57;
    left: 0;
    right: 0;
    min-width: 1440px;
    height: 563px;
    z-index: -1;
}