div.booking-form{
    grid-column: 3/span 2;
    padding-bottom: 100px;
}

h1.reservation-details{
    padding-top: 100px;
    grid-column: 3/span 8;
}

label{
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 800;
    color: #495E57;
}

input, select, option{
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 4px;
    border: 0px;
    height: 40px;
    color: #333333;
    font-weight: 600;
}

input.submit{
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #F4CE14;
    font-weight: 800;
}

input.submit:disabled{
    background-color: #B8B8B8;
    color: rgba(237, 239, 238, 0.5);
}

div.restaurant-image{
    grid-column: 5/span 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#restaurant-image{
    width: 80%;
    height: auto;
    border-radius: 16px;
}