button{
    border: none;
    border-radius: 8px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: #F4CE14;
    color: #333333;
}