footer{
    display: contents;
    padding-bottom: 300px}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    font-family: 'karla';
    font-size: 16px;
    font-weight: 500;
}

footer li a {
  display: block;
  color: #333333;
  text-decoration: none;
}

footer div{
    padding: 100px 0 1em 0
}

div.footer-logo{
    grid-column: 3/span 2;
}

div.footer-logo img{
    max-width: 90%;
    height: auto;
}

div.dormat-navigation{
    grid-column: 5/span 2;
}

div.contact{
    grid-column: 7/span 2;
}

div.social-media{
    grid-column: 9/span 2;
    padding-bottom: 200px;
}

.small-margin{
    margin-bottom: 20px;
}

h4.social-media{
    color: #495E57;
}