nav{
    grid-column: 5/span 6;
    display: flex;
    align-items: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
  }

nav li a {
    display: block;
    color: #333333;
    text-align: center;
    padding-right: 0.72em;
    text-decoration: none;
    font-family: 'karla';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}