.container{
  background-color: #EDEFEE;
  width: 100vw;
  height: 100vh;
  padding-right: 70px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 1000px) {
  .container{
    padding-right: 0px;
    padding-left: 0px;
    font-size:2vw;
  }
}