footer{
    display: contents;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    font-family: 'karla';
    font-size: 16pt;
    font-weight: 500;
}

footer li a {
  display: block;
  color: #333333;
  text-decoration: none;
}

footer div{
    padding: 1em 0 1em 0
}

.footer-logo{
    grid-column: 3/span 2;
    padding-top: 22px;
}

.dormat-navigation{
    grid-column: 5/span 2;
}

.contact{
    grid-column: 7/span 2;
}

.social-media{
    grid-column: 9/span 2;
}

h4{
    font-family: 'karla';
    font-size: 20pt;
    font-weight: 800;
}