div.specials-container{
    grid-column: 3/span 8;
    padding-top: 150px;
}

div.specials-header{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

div.specials-header > div{
    flex: 1;
}

#button{
    text-align: right;
}

div.specials-header h1{
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 64px;
}

div.specials{
    display: flex;
    gap: 40px;
    padding-bottom: 200px;
}